<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<h4 style="margin: 25px 242px" th:text="Фильтр"></h4>
<div class="container">
    <form th:action="@{/products}" method="get" class="form-horizontal">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <label>
                <input th:value="${title != null} ? ${title}" name="title" placeholder="Название товара"
                       class="form-control"/>
            </label>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <label>
                <input th:value="${minPrice != null} ? ${minPrice}" name="minPrice" placeholder="Минимальная цена"
                       class="form-control"/>
            </label>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <label>
                <input th:value="${maxPrice != null} ? ${maxPrice}" name="maxPrice" placeholder="Максимальная цена"
                       class="form-control"/>
            </label>
        </div>

        <div style="margin-top: 25px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Фильтровать</button>
            </div>
        </div>
    </form>

    <form th:action="@{/products}" method="get" class="form-horizontal">
        <div style="margin-bottom: 100px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Сбросить фильтр</button>
            </div>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}" hidden></td>
            <td th:text="${product.title}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{'/products/show/' + ${product.id}}" th:text="Просмотреть"></a>
                <a th:href="@{'/products/edit/' + ${product.id}}" th:text="Редактировать"></a>
                <a th:href="@{'/products/delete/' + ${product.id}}" th:text="Удалить"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <span th:text="${'Всего товаров: ' + products.size()}"></span>

    <form th:action="@{/products/add}" method="get" class="form-horizontal">
        <div style="margin-top: 35px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Добавить товар</button>
            </div>
        </div>
    </form>

    <div style="margin: 0 0 50px 45%">
        <span th:text="'Страница'"></span>
        <a th:href="@{/products/?page=1}">1</a>
        <a th:href="@{/products/?page=2}">2</a>
        <a th:href="@{/products/?page=3}">3</a>
        <a th:href="@{/products/?page=4}">4</a>
        <a th:href="@{/products/?page=5}">5</a>
    </div>
</div>
</body>
</html>